<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/flights/index.css">
  <title>All Flights</title>
</head>

<body>
  <h1>ALL FLIGHTS</h1>

  <table>
    <thead>
      <tr>
        <th>Cancel Flight</th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure</th>
      </tr>
    </thead>

    <tbody>
      <% flights.forEach(flight=> { %>
        <tr>
          <td>
            <form action="/flights/<%= flight._id %>?_method=DELETE" class="delete-form" method="POST">
              <button type="submit">X</button>
            </form>
          </td>
          <td>
            <%= flight.airline %>
          </td>
          <td>
            <%= flight.airport %>
          </td>
          <td>
            <%= flight.flightNo %>
          </td>
          <td>
            <% if(flight.departs <= new Date()) { %>
              <p style="color:red">
                <%= flight.departs %>
              </p>
              <% } else {%>
                <%= flight.departs %>
                  <% } %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <div>
    <a href="/">Go back</a> <br>
  </div>
  <div>
    <a href="flights/new">Book a Flight</a>
  </div>
</body>

</html>