<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

<main>
  <h1>
    <%= title %> 
  </h1>

  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Destination</th>
        <th>Flight Number</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= flight.airline %>
        </td>
        <td>
          <%= flight.airport %>
        </td>
        <td>
          <%= flight.flightNo %>
        </td>
        <td>
          <% if(flight.departs <= new Date()) { %>
            <p style="color:red">
              <%= flight.departs %>
            </p>
            <% } else {%>
              <%= flight.departs %>
                <% } %>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Tickets</h2>

  <% if(flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Remove Ticket</th>
          <th>Seat #</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td>
              <form action="">
                <button>X</button>
              </form>
            </td>
            <td><%= ticket.seat %> </td>
            <td>$<%= ticket.price %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %> 

  <form 
  action="/flights/<%= flight._id %>/tickets"
  id="add-seat-form"
  method="POST"
>
  <h3>Add A Ticket</h3>

  <table>
    <tr>
      <td>
        <label>Seat Number:</label>
      </td>
      <td>
        <input type="text" name="seat">
      </td>
    </tr>
    <tr>
      <td>
        <label>Price:</label>
      </td>
      <td>
        <input type="text" name="price">
      </td>
    </tr>
  </table>
  <button type="submit">Add Ticket</button>
</form>


</main>

<%- include('../partials/footer') %> 